<div class="d-flex justify-content-between">
    <h4>Add new Customer</h4>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Order Date</span>
            </div>
            <input required minlength="2" type="text"
            class="form-control"
            name="OrderDate"
            #OrderDate="ngModel"
            [(ngModel)]="service.formData.OrderDate">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Customer Id</span>
            </div>
            <input required minlength="1" type="text"
            class="form-control"
            name="CustomerId"
            #CustomerId="ngModel"
            [(ngModel)]="service.formData.CustomerId">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Item Id</span>
            </div>
            <input required minlength="1" type="text"
            class="form-control"
            name="ItemId"
            #ItemId="ngModel"
            [(ngModel)]="service.formData.ItemId">
        </div>

        <button class="mt-2" mat-raised-button color="primary" type = "submit"
        [disabled]="form.invalid">Add Order</button>

    </form>

</div>
